apiVersion: v1
kind: Service
metadata:
  name: portfolio-app-svc
spec:
  selector:
    app: {{ .Values.app }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: {{ .Values.type }}
